h1
{
    font-family: sans-serif;
}
p
{
    font-family: serif;
}

p em
{
    color: gray;
    text-decoration: line-through;
}
.link
{
    color: darkgreen;
}

mark
{
    color: darkblue;
    background-color: pink;
}

h2
{
    font-family: sans-serif;
    text-align: left;
}
.preformatted
{
    font-family: monospace;
    font-size: 1em;
}

h3
{
    color: rgba(0, 0, 139, 0.8);
}


.transparent-text
{
 color: rgba(0, 0, 0, 0.5);   
}

body
{   background-image: url(cross.png);
    background-color:#DCF5F5;

}

.content 
{
    background-color: white;
}

.blue
{
    color: blue;
}

.fancy
{
    font-family: cursive;
}
.content2
{
    background-color: white;
    border:1px solid darkgray;
    border-radius: 8px;
}

.red-border
{
    border-style: solid;
    border-color: red;
}

hr
{
    
    border-color: #CFDFE4;
}

.red-outline
{
    outline-style: solid;
    outline-color: red;
}

.blue-border
{
    border-style: solid;
    border-color: blue;
}
.red-border2
{
    border-top: solid red;
    border-left: solid red;
    border-right: solid red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blue-border2
{
    border-style: solid;
    border-color: blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#outer
{
    border: solid red;
    background-color: blue;
}

#inner
{
    text-align: right;
    margin:10px 20px 10px 20px;
    padding: 12px;
    border-width: 200px 700px;
    border: solid red;
    background-color: yellow;
    box-sizing: border-box;
}
#outer2
{
    margin-top: 20px;
    border: solid red;
    background-color: blue;
}

#inner2
{
    text-align: right;
    border: solid red;
    padding: 12px;
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: auto;
    box-sizing: border-box;
}

h1
{
    font-family: "Raleway", sans-serif;
}

h2
{
    font-family: "Raleway",serif;
}


blockquote
{
    font-family: "Raleway";
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}

h4.font
{
    font-family: "Raleway";
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

.icon
{
    text-align: center;  
}

i
{
    color: #BFCFD4;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
  }

  li.navbar {
    float: left;
  }

  li.navbar a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  }
  li.navbar:hover
  {
      background-color: darkgray;
      text-shadow:0px 0px lightgray;
  }


  ul.square
  {
      list-style-type: square;
  }
  ol.roman
  {
      list-style-type: lower-roman;
  }

  table
  {
    border-collapse: collapse;

  }
  
  th,td
  {
    text-align: left;
    border-bottom: 1px solid darkgray;
  }

  td
  {
      width: 500px;

  }
  tr:nth-child(even)
  {background-color: #F8F8F8}

  tr:hover
  {
      background-color: darkslategray;
  }

  #table2
  {
      border: solid black;
      background-color: palegoldenrod;
  }
